/* General Styles for the Carousel */
.skills-parent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 80px; /* Default gap for desktop */
  margin: 80px 170px; /* Default margin for desktop */
  margin-bottom: 150px;
}

/* Skills Title */
.skills-title {
  position: relative;
}

.skills-title h1 {
  padding: 0px 30px;
  font-size: 80px;
  font-weight: 600;
}

.skills-title img {
  position: absolute;
  bottom: 0;
  right: 0;
  object-fit: cover;
  z-index: -1;
  filter: brightness(0.8);
}

/* Skills Carousel */
.skills-carousel {
  display: block;
  width: 100%; 
  padding: 20px;
}

.skill {
  text-align: center;
  padding: 20px;
}

.skill p {
  font-size: 25px;
  color: #fff;
}

.skill-icon {
  font-size: 90px;
}

.skill-powerbi {
  color: #f2c811;
}

.skill-excel {
  color: #217346;
}

.skill-sap {
  color: #3f99d3;
}

.skill-leadership {
  color: #ff681f;
}

.skill-python {
  color: #5484aa;
}

/* Mobile View Adaptations */
@media (max-width: 768px) {
  /* Adjust the parent container */
  .skills-parent {
    gap: 20px; /* Reduce the gap for smaller screens */
    margin: 40px 20px; /* Adjust the margins */
  }

  /* Reduce the font size for titles */
  .skills-title h1 {
    font-size: 10vw; /* Smaller font size for titles */
    padding: 0px 0px;

  }

  /* Reduce padding for the carousel */
  .skills-carousel {
    padding: 10px; /* Smaller padding for compactness */
  }

  /* Reduce padding and font size for skill descriptions */
  .skill {
    padding: 5px; /* Smaller padding */
  }

  .skill p {
    font-size: 4vw; /* Smaller font size */
  }

  .skill-icon {
    font-size: 13vw; /* Smaller icon size */
  }


.skills-title img {
  width: 60%;}
}

/* Mobile View Adaptations */
@media (min-width: 768px) and (max-width: 1400px) {
  /* Adjust the parent container */
  .skills-parent {
    gap: 20px; /* Reduce the gap for smaller screens */
    margin: 80px 40px; /* Adjust the margins */
  }

  /* Reduce the font size for titles */
  .skills-title h1 {
    font-size: 10vw; /* Smaller font size for titles */
    padding: 0px 0px;

  }

  /* Reduce padding for the carousel */
  .skills-carousel {
    padding: 10px; /* Smaller padding for compactness */
  }

  /* Reduce padding and font size for skill descriptions */
  .skill {
    padding: 5px; /* Smaller padding */
  }

  .skill p {
    font-size: 3vw; /* Smaller font size */
  }

  .skill-icon {
    font-size: 11vw; /* Smaller icon size */
  }


.skills-title img {
  width: 60%;}
}
