.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px 170px;
}

.navbar-logo {
  width: 150px;
  align-self: center;
  vertical-align: middle;
}

.nav-menu {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 60px;
  font: size 20px;
}

.nav-connect {
  padding: 20px 40px;
  border-radius: 50px;
  background: linear-gradient(267deg, #da7c25 0.36%, #b923e1);
  font-size: 22px;
  cursor: pointer;
}

.nav-connect:hover {
  background: linear-gradient(267deg, #b923e1 0.36%, #da7c25);
  transform: scale(1.1);
}

.nav-menu li img {
  width: 50px; /* Adjust the width to your desired size */
  height: 10px; /* Adjust the height to your desired size */
  display: flex;
  margin: auto;
}

.nav-menu li {
  display: flex;
  flex-direction: column;
  gap: 5px;
  cursor: pointer;
}

.anchor-link {
  text-decoration: none;
  color: #d8d8d8;
  font-size: 20px;
  font-weight: 500px;
}

.nav-mob-close {
  display: none;
}

.nav-mob-open {
  display: none;
}

@media (max-width: 768px) {
  .navbar {
    margin: 20px 50px;
  }

  .nav-connect {
    display: none;
  }

  .nav-mob-open {
    display: block;
    position: fixed;
    right: 30px;
    top: 30px;
  }

  .nav-mob-close {
    display: block;
    position: relative;
    top: 30px;
    left: 120px;
    width: 30px;
    z-index: 3;
    transition: 0.5s;
  }

  .nav-menu {
    position: fixed;
    flex-direction: column;
    align-items: center;
    top: 0;
    gap: 30px;
    background-color: #1f0016;
    width: 350px;
    height: 100%;
    z-index: 2;
    transition: right 0.5s;
    right: -350px;
  }

  .nav-menu li {
    font-size: 30px;
    padding: left 100px;
    flex-direction: row;
    gap: 20px;
  }

  .navbar img {
    width: 30px;
  }

  .navbar-logo {
    display: none;
  }
}
